.App {
  text-align: center;
  color:white
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arr{
  display: flex;
  justify-content: center;
}

.ele{
  margin:5px;
  font-size: 10px;
  width: 5px;
}

button{
  margin-top:75px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  border: none;
  padding:10px;
  border-radius: 10px;
  color:black;
  transition: all 450ms;
  font-weight: 500;
  font-size: 15px;
}

button:hover{
  cursor: pointer;
  transform: scale(1.09);
  background-color: rgb(143, 240, 140);
}